:root {
    --color1: hsl(120, 73%, 75%);
    --color2: hsl(190, 90%, 50%);
    --color3: hsl(060, 73%, 75%);
    --color1a: hsl(120, 90%, 50%);
    --color2a: hsl(190, 73%, 75%);
    --color3a: hsl(060, 90%, 50%);
    --color-blank: whitesmoke;
    --color-gray: gray;
    --color-black: rgb(17, 16, 16);
    --color-denied: red;
}


input, label, textarea, select, button
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

form {
    margin: 10px;
    min-width: fit-content;
    flex-grow: 1;
}

form > fieldset {
    padding: 10px;
    background-color: var(--color1);
}

form > fieldset > legend {
    background-color: var(--color2);
    color: var(--color-black);
    padding: 0 5px;
    border: 1px solid var(--color-gray);
}

form textarea {
    resize: none;
    min-width: 100%;
    min-height: 100px;
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color: var(--color-blank);
    text-align: left;
}

form input {
    padding: 5px;
    background-color: var(--color-blank);
}

form button {
    margin-top: 10px;
    width: 100%;
}

form span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

form span > label 
{
    width: 30%;
}

form span > input 
{
    width: 70%;
}

form span > select
{
    width: 70%;
}

a[href=undefined]{
    pointer-events: none;
    text-decoration: none;
    color: var(--color-denied);
}
