* {
    /* display: flex; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: hsl(120, 73%, 75%);
}

header > h1 {
    display: flex;
    width: max-content;
    font-size: 3em;
    padding: 10px;
    color: hsl(190, 90%, 50%);
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: hsl(60, 73%, 75%);
}